@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";

    List<KeyValuePair<string, string>> questionsWithAnswers = new List<KeyValuePair<string, string>>
    {
            new KeyValuePair<string, string>("What should I wear?", "Dresses, slacks, suits, other semi-formal wear, etc."),
            new KeyValuePair<string, string>("Where should I stay?", "The Puget Sound area has a plethora of options, with many around the airport and downtown areas."),
            new KeyValuePair<string, string>("Will there be food?", "Yes! There will be dinner, drinks, and dessert!"),
            new KeyValuePair<string, string>("Will there be dancing?", "Yes! There will be dancing. Look for where to provide song suggestions in your RSVP."),
    };
    int headerCounter = 0;
}

<div class="text-left">
    <h1 class="display-4">FAQs</h1>
    <hr />
    <p>Have a question that isn't listed here? Email either <a href="mailto:a.k.brazier@comcast.net">Angie</a> or <a href="mailto:gus.gran@outlook.com">Gustave</a>!</p>
    <div class="accordion" id="accordion">
        @foreach (KeyValuePair<string, string> question in questionsWithAnswers)
        {
        <div class="card">
            <div class="card-header" id="heading@(headerCounter)">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse@(headerCounter)" aria-expanded="true" aria-controls="collapse@(headerCounter)">
                        @(question.Key)
                    </button>
                </h2>
            </div>

            <div id="collapse@(headerCounter)" class="collapse hide" aria-labelledby="heading@(headerCounter)" data-parent="#accordion">
                <div class="card-body">
                    @(question.Value)
                </div>
            </div>
        </div>
            headerCounter++;
        }
        </div>
    </div>
    <br />
    <h1>COVID-19 Situation</h1>
    <hr />
    <p>
        <small>11/5/2020</small>
        <br />
        We are watching the COVID-19 situation and currently are optimistic that there will be no restrictions in place for our wedding next year.
        <br />
        If there are any developments or updates, we will post them here.
    </p>
</div>
