@page
@model PageNotFoundModel
@{
    ViewData["Title"] = "Page Not Found";
}

<h3>Page Not Found</h3>
<p>Something isn't working right. Please email Gustave Granroth at <a href="mailto:gus.gran@outlook.com">gus.gran@outlook.com</a> and I'll fix it.</p>
