@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a wedding website, not a suspicious social media website.</p>
<p>If you're here, we know who you are when:</p>
<ul>
    <li>You enter the RSVP section using </li>
</ul>
