@page
@model FAQsModel
@{
    ViewData["Title"] = "FAQs";

    List<KeyValuePair<string, string>> questionsWithAnswers = new List<KeyValuePair<string, string>>
    {

        new KeyValuePair<string, string>("Where should I stay?", "The Puget Sound area has a plethora of options, with many hotels and AirBnbs around the airport and downtown areas." +
            "<br /><br /> You can stay wherever you think is best!" +
            "<br /><br /> If you'd like a few suggestions:" +
            "<br/ >" +
            "<b>Redmond</b> (40 minutes from venue and airport)<ul>" +
                "<li><a href=\"https://www.marriott.com/hotels/travel/seamc-seattle-marriott-redmond\">Seattle Marriott Redmond</a>" +
                "<li><a href=\"https://www.redmondinn.com/\">Redmond Inn</a>" +
            "</li></ul>" +
            "<b>Renton</b> (20 minutes from venue and airport)<ul><li><a href=\"https://www.marriott.com/hotels/travel/searr-residence-inn-seattle-south-renton\">Residence Inn by Marriott, Seattle South/Renton</a></li></ul>" +
            "<b>Southcenter</b> (25 minutes from venue, 5 minutes from airport)<ul><li><a href=\"https://www.marriott.com/hotels/travel/seawv-courtyard-seattle-sea-tac-area/\">Courtyard by Marriott, Seattle Sea-Tac Area</a></li></ul>" +
            "<b>Maple Valley</b> (5 minutes from venue, 25 minutes frim airport)<ul><li>" +
            "Unfortunately there are no hotels in Maple Valley. There are several <a href=\"https://www.airbnb.com/s/Maple-Valley--WA--United-States/\">AirBnB</a> options if you want to stay closer to the venue.</li></ul"
            ),
        new KeyValuePair<string, string>("What should I wear?", "Dress code is business casual. If you'd like suggestions for what to wear, think dresses/blouses or button-downs/slacks." +
            "<br /><br /> If you're wearing a black tie suit or sweats you've gone too far, abort, abort."),
        new KeyValuePair<string, string>("Will there be food and drinks?", "Yes! There will be dinner, drinks, and dessert!" +
            "<br /><br /> There will be a limited hosted bar with beer and wine."),
        new KeyValuePair<string, string>("Will there be dancing?", "Yes! There will be dancing. We welcome song suggestions when RSVPing."),
    };
    int headerCounter = 0;
}

<div class="text-left container">
    <h1 class="display-4">FAQs</h1>
    <hr />
    <p>Have a question that isn't listed here? Email either <a href="mailto:a.k.brazier@comcast.net" style="color:white">Angie</a> or <a href="mailto:gus.gran@outlook.com" style="color:white">Gustave</a>!</p>
    <div class="accordion" id="accordion">
        @foreach (KeyValuePair<string, string> question in questionsWithAnswers)
        {
            <div class="card">
                <div class="card-header" id="heading@(headerCounter)" style="background-color: rgb(141 209 142);">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse@(headerCounter)" aria-expanded="true" aria-controls="collapse@(headerCounter)"
                                style="color:white">
                            @(question.Key)
                        </button>
                    </h2>
                </div>

                <div id="collapse@(headerCounter)" class="collapse hide" aria-labelledby="heading@(headerCounter)" data-parent="#accordion">
                    <div class="card-body">
                        @Html.Raw(question.Value)
                    </div>
                </div>
            </div>
            headerCounter++;
        }
    </div>
    <br />
    <h1>COVID-19 Situation</h1>
    <hr />
    <p>
        <small>8/1/2021</small>
        <br />
        We still anticipate being able to host our wedding at full capacity in Washington state.
        <br />
        Please feel free to take personal safety steps as desired.
        <br />
        <br />
        <small>6/12/2021</small>
        <br />
        Washington state has opened weddings to full capacity. Masks will not be required, but feel free to wear one if it makes you feel safer.
        <br />
        We plan on video streaming the ceremony and will post details sooner to our wedding.
        <br />
        <br />
        <small>11/5/2020</small>
        <br />
        We are watching the COVID-19 situation and currently are optimistic that there will be no restrictions in place for our wedding next year.
        <br />
        If there are any developments or updates, we will post them here.
    </p>
</div>