@page
@model RegistryModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Registry</h1>
    <p>We have wedding registries at STORE and STORE</p>
    <ul>
        <li>STORE 1</li>
        <li>STORE 2</li>
    </ul>
    <p>Thank you very much for supporting us in our next stage of life!</p>
</div>
