@page
@model RegistryModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Registry</h1>
    <hr />
    <p>We don't have a wedding registry yet, but will put any registry information on this page.</p>
    <p>Thank you very much for supporting us in our next stage of life!</p>
</div>
