@page
@model RegistryModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left container">
    <h1 class="display-4">Registry</h1>
    <hr />
    <p>We are registered at Target and Macy's.</p>
    <ul>
        <li><a href="http://tgt.gifts/angie-gus">Target</a></li>
        <li><a href="https://www.macys.com/wgl/registry/guest/GUSTAVE-GRANROTH-ANGIE-BRAZIER/7234836">Macy's</a></li>
    </ul>
    <p>Thank you very much for supporting us in our next stage of life!</p>
</div>
