@page
@model ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}

<div class="text-center">
    <h1 class="display-4">Schedule</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Rehearsal</h4>
            <div class="well">
                <b><i>Thursday, September 23rd, 2021</i></b>
                <br />
                <i>TBD (PM)</i>
            </div>
            <p>
                Relax after traveling and before the ceremony.
            </p>
        </div>
        <div class="col-md-7 col-md-offset-2">
            <section>
                <div>
                    <p>
                        The Olson Mansion
                        <br />
                        21401 244th Ave SE
                        <br />
                        Maple Valley, WA 98038
                    </p>
                    https://www.olsonmansionrentals.com/
                </div>
            </section>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Ceremony</h4>
            <div class="well">
                <i>4:00 PM - 5:00 PM</i>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-2">
            <section>
                <div>
                    <p>
                        Location, time, details, etc.
                    </p>
                </div>
            </section>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Reception</h4>
            <div class="well">
                <i>5:00 PM - 9:00 PM</i>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-2">
            <section>
                <div>
                    <p>
                        Location, time, details, etc.
                        Dinner, bar, dancing, etc.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
