@page
@model VisitingWaModel

@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Visiting WA";
}

<div class="text-center container-fluid">
    <h1 class="display-4">Visiting Washington</h1>
    <hr />
    <p>If you have some extra time while in Washington and are looking for things to do, here are some suggestions from Angie and Gus!</p>
    <div class="row">
        <div class="col-auto text-left">
            <h2>Eastside</h2>
            <hr />

            <h3>Redmond/Bellevue</h3>
            <p>
                <a href="https://www.microsoft.com/en-us/visitorcenter/default">Microsoft Corporate Visitor Center</a> <br />
                <a href="https://www.sushimebellevue.com/">Sushi Me Conveyor Belt Sushi</a> <br />
                <a href="https://www.tipsycowburgerbar.com/">Tipsy Cow Burger Bar</a> <br />
                <a href="https://www.doughzonedumplinghouse.com/">Dough Zone Chinese Dumplings</a> <br />
                <a href="https://www.jinyaramenbar.com/">Jinya Ramen</a> <br />
                <a href="https://bellevuecollection.com/">Bellevue Square Mall</a> <br />
                <a href="https://www.facebook.com/The-Three-Lions-Pub-117450738274399/">The Three Lions Pub</a> <br />
                <a href="https://rachathai.com/redmond/">Racha Noodles & Thai Cuisine Redmond</a>
            </p>

            <br />
            <h2>Seattle</h2>
            <hr />
            <p>
                <a href="http://www.seattle.gov/parks/find/parks/kerry-park">Kerry Park</a> <br />
                <a href="http://www.nwoc.com/">Lake Union Kayak Rentals (NWOC)</a>
            </p>

            <h3>Seattle Downtown</h3>
            <p>
                <a href="http://www.seattleartmuseum.org/visit/olympic-sculpture-park">Olympic Sculpture Park</a> <br />
                <a href="http://pikeplacemarket.org/">Pike Place Market</a>
                <a href="https://sushikanpai.net/">Kanpai Sushi</a>
            </p>

            <h4>Seattle Center</h4>
            <p>
                <a href="https://www.spaceneedle.com/">Space Needle</a> <br />
                <a href="https://www.mopop.org/">Museum of Pop Culture (MoPOP, previously the EMP)</a> <br />
                <a href="https://www.chihuly.com/exhibitions/chihuly-garden-and-glass/chihuly-garden-and-glass">Chihuly Glass Art Exhibition</a> <br />
            </p>

            <h3>West Seattle</h3>
            <p>
                <a href="http://www.seattle.gov/parks/find/parks/alki-beach-park">Alki Beach Park</a>
            </p>

            <h3>Fremont</h3>
            <p>
                <a href="http://www.seattle.gov/parks/find/parks/gas-works-park">Gas Works Park</a> <br />
                <a href="http://www.seattle.gov/neighborhoods/programs-and-services/p-patch-community-gardening/p-patch-list/trolls-knoll">Fremont Troll</a> <br />
            </p>

            <h3>Ballard</h3>
            <p>
                <a href="https://www.ballardlocks.org/">Ballard Locks &amp; Carl S. English Jr. Botanical Gardens</a> <br />
                <a href="https://www.fulltilticecream.com/">Full Tilt Ice Cream &amp; Pinball</a>
            </p>

            <br />
            <h2>Renton / SeaTac</h2>
            <hr />
            <p>
                <a href="https://kubotagarden.org/index.html">Kubota Japanese Garden</a> <br />
                <a href="https://www.round1usa.com/location/south-center-mall/">Round1 Japanese Arcade and Bowling</a> <br />
                <a href="https://www.westfield.com/southcenter">Westfield Southcenter Mall</a>
            </p>

            <br />
            <h2>Everett / Lynnwood</h2>
            <hr />
            <p>
                <a href="https://www.wsdot.com/ferries/schedule/scheduledetailbyroute.aspx?route=ed-king">Edmonds/Kingston Ferry</a>
            </p>

            <br />
            <h2>Cascade Mountains</h2>
            <hr />
            <p>
                <a href="https://www.wta.org/go-hiking/hikes/rattlesnake-ledge">Rattlesnake Ledge hike</a> <br />
                <a href="https://www.wta.org/go-hiking/hikes/wallace-falls">Wallace Falls hike</a> <br />
                <a href="https://leavenworth.org/">Leavenworth</a>
            </p>
        </div>
        @* Photos *@
        <div class="col-md">
            <div class="row-auto">
                <div id="mapId" style="height:650px;"></div>
            </div>
            <div class="row">
                <div class="col-auto px-1 py-1">
                    <div class="card">
                        <a href="~/img/visiting/edmonds1.jpg"><img src="~/img/visiting/edmonds1.jpg" alt="Edmonds-Kingston Ferry" class="card-img-top img-fluid rounded" style="width:700px" /></a>
                        <div class="card-footer">
                            <div class="row justify-content-between">
                                Edmonds-Kingston Ferry <small>(10/25/2020)</small>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="~/img/visiting/kayak1.jpg"><img src="~/img/visiting/kayak1.jpg" alt="Lake Union Kayaking" class="card-img-top img-fluid rounded" style="width:700px" /></a>
                        <div class="card-footer">
                            <div class="row justify-content-between">
                                Lake Union Kayaking <small>(9/6/2020)</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto px-1 py-1">
                    <div class="card">
                        <a href="~/img/visiting/wallace1.jpg"><img src="~/img/visiting/wallace1.jpg" alt="Wallace Falls" class="card-img-top img-fluid rounded" style="width:500px" /></a>
                        <div class="card-footer">
                            <div class="row justify-content-between">
                                Wallace Falls <small>(10/24/2020)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var token = 'cGsuZXlKMUlqb2laM1Z0YVc1bGNpSXNJbUVpT2lKamEyZzNNbVJsYlhjd00zRXdNbkZ1YkhWek0yZG1ibXd6SW4wLkMtTGZmeWNocllTYV9hSmNYT0ZpMnc'

        var kerryPark = L.marker([47.629601, -122.360015]).bindPopup("🌲 Kerry Park", { autoClose: false, closeButton: false });
        var rattlesnake = L.marker([47.432999, -121.767139]).bindPopup("🌲 Rattlesnake Ledge", { autoClose: false, closeButton: false });
        var alki = L.marker([47.58174, -122.405194]).bindPopup("🌲 Alki Beach", { autoClose: false, closeButton: false });
        var gasworks = L.marker([47.645401, -122.33492]).bindPopup("🌲 Gasworks Park", { autoClose: false, closeButton: false });
        var kubota = L.marker([47.51396, -122.265794]).bindPopup("🌲 Kubota Garden", { autoClose: false, closeButton: false });
        var wallace = L.marker([47.867292, -121.681381]).bindPopup("🌲 Wallace Falls", { autoClose: false, closeButton: false });
        var ballardLocks = L.marker([47.665191, -122.39936]).bindPopup("🌲 Ballard Locks", { autoClose: false, closeButton: false });

        var sushiMe = L.marker([47.621299, -122.132778]).bindPopup("🍣 SushiMe", { autoClose: false, closeButton: false });
        var tipsyCow = L.marker([47.67318, -122.122252]).bindPopup("🍣 Tipsy Cow", { autoClose: false, closeButton: false });
        var doughZone = L.marker([47.670952, -122.113872]).bindPopup("🍣 Dough Zone", { autoClose: false, closeButton: false });
        var sushiKanpai = L.marker([47.607394, -122.327784]).bindPopup("🍣 Kanpai Sushi", { autoClose: false, closeButton: false });
        var jinyaRamen = L.marker([47.62053, -122.130157]).bindPopup("🍣 Jinya Ramen", { autoClose: false, closeButton: false });
        var threeLionsPub = L.marker([47.675951, -122.12636]).bindPopup("🍣 The Three Lions Pub", { autoClose: false, closeButton: false });
        var rachaThai = L.marker([47.681853, -122.123518]).bindPopup("🍣 Racha Noodles & Thai Cuisine Redmond", { autoClose: false, closeButton: false });

        var round1 = L.marker([47.460109, -122.256104]).bindPopup("🎮 Round1", { autoClose: false, closeButton: false });
        var fullTilt = L.marker([47.667928, -122.383794]).bindPopup("🎮 Full Tilt", { autoClose: false, closeButton: false });

        var kayaking = L.marker([47.638213, -122.340252]).bindPopup("⛴ NWOC Kayaking", { autoClose: false, closeButton: false });
        var ferry = L.marker([47.81261, -122.382713]).bindPopup("⛴ Edmonds Ferry", { autoClose: false, closeButton: false });

        var leavenworth = L.marker([47.593708, -120.666247]).bindPopup("📷 Leavenworth", { autoClose: false, closeButton: false });
        var seattleCenter = L.marker([47.621383, -122.350395]).bindPopup("📷 Seattle Center", { autoClose: false, closeButton: false });
        var msftVisitor = L.marker([47.642293, -122.135799]).bindPopup("📷 MSFT Visitor Center", { autoClose: false, closeButton: false });
        var olympicSculpturePark = L.marker([47.615835, -122.355625]).bindPopup("📷 Olympic Sculpture Park", { autoClose: false, closeButton: false });
        var fremontTroll = L.marker([47.651044, -122.347147]).bindPopup("📷 Fremont Troll", { autoClose: false, closeButton: false });

        var southcenterMall = L.marker([47.45941, -122.259754]).bindPopup("🎁 Southcenter Mall", { autoClose: false, closeButton: false });
        var bellevueMall = L.marker([47.616648, -122.20409]).bindPopup("🎁 Bellevue Square Mall", { autoClose: false, closeButton: false });
        var pikePlace = L.marker([47.60919, -122.342327]).bindPopup("🎁 Pike Place Market", { autoClose: false, closeButton: false });

        var outdoorLayer = L.layerGroup([kerryPark, rattlesnake, alki, gasworks, kubota, wallace, ballardLocks]);
        var foodLayer = L.layerGroup([sushiMe, tipsyCow, doughZone, sushiKanpai, jinyaRamen, threeLionsPub, rachaThai]);
        var arcadeLayer = L.layerGroup([round1, fullTilt]);
        var waterLayer = L.layerGroup([kayaking, ferry]);
        var sightseeingLayer = L.layerGroup([leavenworth, seattleCenter, msftVisitor, olympicSculpturePark, fremontTroll]);
        var shoppingLayer = L.layerGroup([southcenterMall, bellevueMall, pikePlace]);

        var tileLayer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: atob(token),

            useCache: true,
            crossOrigin: true,
            cacheMaxAge: (24 * 3600 * 1000) * 10
        });

        @if (httpContextAccessor.HttpContext.User.IsInRole("Admin"))
        {
            <text>
        var hits = 0
        var misses = 0;
        var errors = 0;
        tileLayer.on('tilecachehit', function (ev) {
            console.log('Cache hit: ', ev.url, " " , hits, " " , misses, " " , errors);
            hits += 1;
        });
        tileLayer.on('tilecachemiss', function (ev) {
            console.log('Cache miss: ', ev.url, " ", hits, " ", misses, " ", errors);
            misses += 1;
        });
        tileLayer.on('tilecacheerror', function (ev) {
            console.log('Cache error: ', ev.tile, ev.error, " ", hits, " ", misses, " ", errors);
            errors += 1;
        });
            </text>
        }

        var visitingMap = L.map('mapId', {
            center: [47.6358, -122.1419],
            zoom: 10,
            layers: [tileLayer, outdoorLayer, foodLayer, arcadeLayer, waterLayer, sightseeingLayer, shoppingLayer]
        });

        L.control.layers({}, {
            "🌲 Outdoors": outdoorLayer, "🍣 Food": foodLayer, "🎮 Arcade": arcadeLayer,
            '⛴ Water': waterLayer, '📷 Sightseeing': sightseeingLayer, "🎁 Shopping": shoppingLayer
        }).addTo(visitingMap);

        // Rather hacky way to open all popups at startup and when a layer is clicked
        Object.values(outdoorLayer._layers).forEach(layer => layer.openPopup());
        Object.values(foodLayer._layers).forEach(layer => layer.openPopup());
        Object.values(arcadeLayer._layers).forEach(layer => layer.openPopup());
        Object.values(waterLayer._layers).forEach(layer => layer.openPopup());
        Object.values(sightseeingLayer._layers).forEach(layer => layer.openPopup());
        Object.values(shoppingLayer._layers).forEach(layer => layer.openPopup());

        visitingMap.on('overlayadd', onOverlayAdd);
        function onOverlayAdd(e) {
            Object.values(e.layer._layers).forEach(layer => layer.openPopup());
        }

        // Admin-only click help text.
        @if (httpContextAccessor.HttpContext.User.IsInRole("Admin"))
        {
            <text>
            var popup = L.popup();
            function onMapClick(e)
            {
                popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(visitingMap);
            }

            visitingMap.on('click', onMapClick);
            </text>
        }
    </script>
}