@page
@model WeddingPartyModel
@{
    ViewData["Title"] = "Hotel & Travel";
}

<div class="text-center">
    <h1 class="display-4">Wedding Party</h1>
    <hr />
    <div class="row-auto">
        <h2 class="text-center">Bridge &amp; Groom</h2>
    </div>
    <div class="row justify-content-lg-center">
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Angie.jpg", "Angie Brazier")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Gustave.jpg", "Gustave Granroth")' />
    </div>

    <hr />
    <div class="row-auto">
        <h2 class="text-center">Maid of Honor &amp; Best Man</h2>
    </div>
    <div class="row justify-content-lg-center">
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Angie.jpg", "Kelsey Brazier")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Gustave.jpg", "Eric Kulcyk")' />
    </div>

    <hr />
    <div class="row-auto">
        <h2 class="text-center">Bridesmaids &amp; Groomsmen</h2>
    </div>
    <div class="row justify-content-lg-center">
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Angie.jpg", "Josee Brazier")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Hans.jpg", "Lawrence Granroth")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Angie.jpg", "Kass Brazier")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Hans.jpg", "Hans Granroth")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Angie.jpg", "Bonnie Granroth")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Hans.jpg", "Joran Weitzer")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Angie.jpg", "Bethany Kanehan")' />
        <partial name="Shared/PartyCard.cshtml" model='new PartyCardModel("Hans.jpg", "TBD")' />
    </div>
</div>