@page
@model WeddingPartyModel
@{
    ViewData["Title"] = "Hotel & Travel";
}

<div class="container-fluid">
    <h1 class="display-4">Wedding Party</h1>
    <hr />
    <div class="row-auto">
        <h2 class="text-center">Bridge &amp; Groom</h2>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-auto px-1 px-1">
            <div class="card">
                <a href="~/img/weddingparty/Angie.jpg"><img src="~/img/weddingparty/Angie.jpg" alt="Angie portrait" class="card-img-top img-fluid rounded" style="width:500px" /></a>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <h3>Angie Brazier</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto px-1 px-1">
            <div class="card">
                <a href="~/img/weddingparty/Gustave.jpg"><img src="~/img/weddingparty/Gustave.jpg" alt="Gustave portrait" class="card-img-top img-fluid rounded" style="width:500px" /></a>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <h3>Gustave Granroth</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-auto">
        <h2 class="text-center">Maid of Honor &amp; Best Man</h2>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-auto px-1 px-1">
            <div class="card">
                <!--<a href="~/img/weddingparty/Angie.jpg"><img src="~/img/weddingparty/Angie.jpg" alt="Angie portrait" class="card-img-top img-fluid rounded" style="width:500px" /></a>-->
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <h3>TODO</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto px-1 px-1">
            <div class="card">
                <!--<a href="~/img/weddingparty/Gustave.jpg"><img src="~/img/weddingparty/Gustave.jpg" alt="Gustave portrait" class="card-img-top img-fluid rounded" style="width:500px" /></a>-->
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <h3>TODO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-auto">
        <h2 class="text-center">Bridesmaids &amp; Groomsmen</h2>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-auto px-1 px-1">
            <div class="card">
                <!--<a href="~/img/weddingparty/Angie.jpg"><img src="~/img/weddingparty/Angie.jpg" alt="Angie portrait" class="card-img-top img-fluid rounded" style="width:500px" /></a>-->
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <h3>TODO</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto px-1 px-1">
            <div class="card">
                <a href="~/img/weddingparty/Hans.jpg"><img src="~/img/weddingparty/Hans.jpg" alt="Hans Granroth's portrait" class="card-img-top img-fluid rounded" style="width:500px" /></a>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <h3>TODO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>